<footer>
  <p id="legal" class="center-block text-center py-3" style="background-color: #e3f2fd;">
    <small>&copy;</small> <span class="copyright-year"></span>
    A class project by Brooke Weatherbie.
  </p>
</footer>
