<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="jumbotron"></h1>
      <img src="{{ relative_path }}img/queen-logo-white.png" alt="Queen logo" width="1000" height="300">
  </div>
</div>
