{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }}{% endblock %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">

{% block content %}
  <article class="container">
    <div class="row col-sm-6 col-md-4 col-lg-4">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../img/{{ image }}" class="img-fluid mb-4" alt="Color image of the Queen band member">
          </div>
          <div class="carousel-item">
            <img src="../img/{{ imagebw }}" class="img-fluid mb-4" alt="Black and white image of the Queen band member">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="row col-sm-6 col-md-8 col-lg-8">
      <h1 class="rock-salt-regular">{{ name }}</h1>
        <h4>{{ instruments }}</h4>
        <p class="identifier">Tenure: {{ tenure }}</p>
        <p class="identifier">Birthplace: {{ birthplace }}</p>
        <p class="identifier">Birthdate: {{ birthdate }}</p>
        {{ description | safe }}
    </div>
  </article>
{% endblock %}
