{% extends '_templates/base.njk' %}

{% block page_title %}Billboard{% endblock %}
{% block page_description %}Table with the song, weeks on chart and top position of Queen's hits.{% endblock %}

{% block content %}

<table class="container table table-striped">
  <thead>
    <tr>
      <th scope="col">Performer</th>
      <th scope="col">Song</th>
      <th scope="col">Weeks on Chart</th>
      <th scope="col">Top Position</th>
    </tr>
  </thead>
  <tbody>
    {% for billboard in queen.billboard %}
    <tr>
      <th scope="row">{{ billboard.Performer }}</th>
      <td>{{ billboard.Song }}</td>
      <td>{{ billboard.Weeks on chart }}</td>
      <td>{{ billboard.Top position }}</td>
    </tr>
    {% endfor %} 
  </tbody>
</table>

{% endblock %}
