{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}
{% block page_description %}Page featuring each of Queen's 15 studio albums.{% endblock %}

{% block content %}

<div class="container">
  <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 g-4">
    {% for discography in queen.discography %}
    <div class="card h-100 text-bg-light border-dark mb-3">
      <img src="img/{{ discography.image }}" class="card-img-top" alt="Queen album cover">
      <div class="card-body">
        <h4 class="album-name text-center">{{ discography.title }}</h4>
        <p class="album-year text-center">{{ discography.year }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
