{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}
{% block page_description %}Information about each of Queen's 15 studio albums.{% endblock %}

{% block content %}

<div class="row row-cols-1 row cols-md-2 g-4 row-cols-lg-3">
  {% for discography in queen.discography %}
  <div class="card h-100 text-bg-light border-dark mb-3" style="max-width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="album-name">...</h3>
      <p class="album-year">...</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
