{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}
{% block page_description %}Page featuring each of Queen's 15 studio albums.{% endblock %}

{% block content %}

<div class="container">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
  {% for discography in queen.discography %}
  <div class="col">
    <div class="card border-dark" style="background-color: #e3f2fd;">
      <img src="img/{{ discography.image }}" class="card-img-top" alt="Queen album cover">
        <div class="card-body">
          <h4 class="text-center rock-salt-regular">{{ discography.title }}</h4>
            <p class="text-center">{{ discography.year }}</p>
        </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
