{% extends '_templates/base.njk' %}

{% block page_title %}Members{% endblock %}
{% block page_description %}Biography pages for each of the band members of Queen.{% endblock %}

{% block content %}

{% endblock %}
