{% extends '_templates/base.njk' %}

{% block page_title %}Members{% endblock %}
{% block page_description %}Biography pages for each of the band members of Queen.{% endblock %}

{% block content %}

<header class="container rounded my-4 p-5" style="background-color: #e3f2fd;">
  <h1 class="display-4">Meet the Band</h1>
    <p class="lead">"Rumor has it that Queen shall soon be crowned 'the new Led Zeppelin,' which is an event that would certainly suit this observer just fine. There's no doubt that this funky, energetic English quartet has all the tools they'll need to lay claim to the Zep's abdicated heavy-metal throne, and beyond that to become a truly influential force in the rock world. Their debut album is superb... They're the first of a whole new wave of English rockers, and you'd best learn to love 'em now 'cause they're here to stay. Regal bearings aside, Queen is a monster."</p>
    <p class="byline">- Rolling Stone Magazine, 1973</p>
</header>

<section>
  <div class="container">
    {% for members in queen.members %}
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <img src="img/{{ members.image }}" class="d-block w-100 img-fluid" alt="Color image of the Queen band member">
        <h4 class="text-center"> <a href="members/{{ members.slug }}.html">{{ members.name }}</a></h4>
          <p class="text-center">{{ members.instruments }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
