{% extends '_templates/base.njk' %}

{% block page_title %}Tour{% endblock %}
{% block page_description %}Table with the date, city, country and venue of Queen's upcoming performances.{% endblock %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">Venue</th>
    </tr>
  </thead>
  <tbody>
    {% for tour in queen.tour %}
    <tr>
      <th scope="row">{{ date }}</th>
      <td>{{ city }}</td>
      <td>{{ country }}</td>
      <td>{{ venue }}</td>
    </tr>
    {% endfor %} 
  </tbody>
</table>

{% endblock %}
