{% extends '_templates/base.njk' %}

{% block page_title %}Tour{% endblock %}
{% block page_description %}Table with the date, city, country and venue of Queen's upcoming performances.{% endblock %}

{% block content %}

<table class="container table table-hover table-striped table-sm">
  <thead>
    <tr>
      <th class="rock-salt-regular" scope="col">Date</th>
      <th class="rock-salt-regular" scope="col">City</th>
      <th class="rock-salt-regular" scope="col">Country</th>
      <th class="rock-salt-regular" scope="col">Venue</th>
    </tr>
  </thead>
  <tbody>
    {% for tour in queen.tour %}
    <tr>
      <th scope="row">{{ tour.date }}</th>
      <td>{{ tour.city }}</td>
      <td>{{ tour.country }}</td>
      <td>{{ tour.venue }}</td>
    </tr>
    {% endfor %} 
  </tbody>
</table>

{% endblock %}
