{% extends '_templates/base.njk' %}

{% block page_title %}Tour{% endblock %}
{% block page_description %}Table with the date, city, country and venue of Queen's upcoming performances.{% endblock %}

{% block content %}

{% endblock %}
